<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>xs3upload</servlet-name>
        <servlet-class>com.xs3.UploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
     <servlet>
        <servlet-name>xs3mulitupload</servlet-name>
        <servlet-class>com.xs3.MultiUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>xs3completeupload</servlet-name>
        <servlet-class>com.xs3.CompleteMultiUpload</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>xs3upload</servlet-name>
        <url-pattern>/pre_upload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>xs3mulitupload</servlet-name>
        <url-pattern>/prev_multi_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xs3completeupload</servlet-name>
        <url-pattern>/complete_multi_upload</url-pattern>
    </servlet-mapping>
       
</web-app>